.dashboard {
  padding: 40px;
  background-color: #fdecea;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* Header */
.dashboard-header h1 {
  color: #111827;
  font-size: 28px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.dashboard-header p {
  color: #6B7280;
  margin-top: 5px;
  font-size: 18px;
}

/* Stats Grid */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.stat-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  text-align: center;
  transition: 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card h2 {
  font-size: 30px;
  color: #F26B4F;
}

.stat-card p {
  color: #6B7280;
  margin-top: 5px;
}

/* Main Content */
.icon{
    font-size: 25px;
}
.dashboard-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 40px;
}

/* Activity */
.activity-section {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.activity-section h3 {
  margin-bottom: 15px;
  color: #111827;
  font-weight:700;
  font-size: 20px;
}

.activity-section ul {
  list-style: none;
  padding: 0;
}

.activity-section li {
  padding: 10px 0;
  border-bottom: 1px solid #E5E7EB;
  color: #374151;
}

.activity-section span {
  display: block;
  font-size: 18px;
  color: #9CA3AF;
}

/* Quick Actions */
.quick-actions {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.quick-actions h3 {
  margin-bottom: 15px;
  font-weight:700;
  font-size: 20px;
}

.primary-btn {
  width: 100%;
  padding: 12px;
  background-color: #F26B4F;
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  background-color: #E85A3E;
}

.secondary-btn {
  width: 100%;
  padding: 12px;
  border: 2px solid #F26B4F;
  background: transparent;
  color: #F26B4F;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.secondary-btn:hover {
  background-color: #F26B4F;
  color: white;
}
